page-notification {
    
       .toolbar-background{
background-color: #2A327E;
    }
    .toolbar-title-md{
        color:white;
    }
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
        color:white;
    }
    .card-md p{
        font-size:1.1em;
        font-family:Georgia;
    }
    .card-content-md{
        padding:2px;
    }
}